body{
    font-size: 1.8em;
    color: #ffff;
    background-color: chocolate;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#header-nav{
    background-color:black;
    border-radius: 0;
    border: 0;
    padding: 15px;
}

.navbar-brand{
    padding-top: 15px;
    
}

.navbar-brand h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 2em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    line-height: .8;
}

.navbar-brand a:hover, .navbar-brand a:focus{
    text-decoration: none;
}

#nav-list {
    margin-top: 10px;
}
#nav-list a {
    color:purple;
    text-align: center;
    background: skyblue;
}
#nav-list a:hover {
    background: #E7E7E7;
}
#nav-list a span {
    font-size: 1.8em;
}
  
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #ff0000;
}
.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -35px;
}

h1{
    font-size:50px;
    margin-top: 0;
    margin-bottom: 50px;
}

section{
    color: #ae00ff;
    background-color:rgb(247, 255, 140);
}


#backtotop{
    font-size: 1.2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    text-transform: uppercase;
    margin: 5px;
}